<div id="home2"></div>

<div class='container content' id='tournamentregistrationform'>
    <h1>About TCT</h1>
    <p>The TCT Project was started in 2016.  We have a vision to bring people together in spirited competition and to help create friendships from all walks of life.  We believe that anyone can win on any give day and even favorites can be upsetted.</p>
    <p>We started building this site using PHP, now in 2018, we have totally changed it to be ran as a full NodeJS application.  </p>
    <a href="/mainmenu" class="btn btn-primary btn-block">Go back to Main Menu</a>
</div>