<div id="home">
    <div class="landing-text">
        <h1 class="splash">CONGRATULATIONS</h1>
        <h3 class="splash">You have successfully entered a tournament!</h3>
        <a href="/mainmenu" class='btn btn-primary'>Go to Main Menu</a>
    </div>
</div>