<div id='destination'>
  <h4 class='destination'>&#8595;Select your destination below&#8595;</h4>
</div>

<div class='headline'>
  <img src='/images/shield.png' width='53' style="vertical-align:bottom"><span class='title'>TOTAL CHALLENGE</span>
</div>

<div class="mdl-grid slide-panels" style='margin:15px;'>
  <div class="mdl-cell mdl-cell--2-col"></div>
  <div class="mdl-cell mdl-cell--8-col sliders">
  <div class="mySlides">
    <img src="/images/battleofthesexes.jpg" style="width:100%">
    <div class='caption'>Fierce Competition</div>
  </div>
  <div class="mySlides">
    <img src="/images/chess.jpg" style="width:100%">
    <div class='caption'>One Winner</div>
  </div>
  <div class="mySlides">
    <img src="/images/collage.jpg" style="width:100%">
    <div class='caption'>In Different Activities</div>
  </div>
  <div class="mySlides">
    <img src="/images/controller.jpg" style="width:100%">
    <div class='caption'>Compete to be the Best</div>
  </div>
  </div>
  <div class="mdl-cell mdl-cell--2-col"></div>
</div>

<h4 class='destination'>Select your destination</h4>
<div style='width:90%;margin:0 auto;'>
  <a href='#'><div class='mdl-shadow--2dp totem'>
    <div class='mdl-card__title'>
      <div class='activity'>
        <h2 class='mdl-card__title-text activity'>Learn More About Total Challenge</h2>
      </div>
    </div>
  </div></a>
  <a href='tournamentlist.html'><div class='mdl-shadow--2dp totem'>
    <div class='mdl-card__title'>
      <div class='activity'>
        <h2 class='mdl-card__title-text activity'>View List of Tournaments</h2>
      </div>
    </div>
  </div></a>
  <a href='04players/playershub.html'><div class='mdl-shadow--2dp totem'>
    <div class='mdl-card__title'>
      <div class='activity'>
        <h2 class='mdl-card__title-text activity'>Login to the Player's Hub (Player's Personal Account)</h2>
      </div>
    </div>
  </div></a>
  <a class='verify' href='01tournament/tournamentinfo.html'><div class='mdl-shadow--2dp totem'>
    <div class='mdl-card__title'>
      <div class='activity'>
        <h2 class='mdl-card__title-text activity'>Register Your Own Tournament [Email Required]</h2>
      </div>
    </div>
  </div></a>
</div>
       <footer class="mdl-mini-footer">
          <div class="mdl-mini-footer__left-section">
             <div class="mdl-logo">
                &copy;2018 Noderizing
             </div>
             <ul class="mdl-mini-footer__link-list">
                <li><a href="#">Help</a></li>
                <li><a href="#">Privacy and Terms</a></li>
                <li><a href="#">User Agreement</a></li>
             </ul>
          </div>
          <div class="mdl-mini-footer__right-section">
             <button class="mdl-mini-footer__social-btn"><img src='/images/facebook.png'></button>
             <button class="mdl-mini-footer__social-btn"><img src='/images/twitter.png'></button>
             <button class="mdl-mini-footer__social-btn"><img src='/images/youtube.png'></button>
          </div>
       </footer>

  <div id="myModal" class="modal">
    <!-- Modal content JUST ADDED-->
    <div class="modal-content">
    <div class="modal-header">
      <h4>Please type in your email to verify<span></span></h4>
    </div>
    <div class="modal-body">
      <input type='email' id="email">
      <input type="password" id="pwd">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-color--black mdl-color-text--white verify">OK</button>
    </div>
    </div>
  </div>

  <script src='/js/verify.js'></script>
  <script src='/js/carousel.js'></script>
