<div id="home">
    <div class="landing-text">
        <h1 class="splash">TCT Main Menu</h1>
        <div class="container">
            <div class='row'>
                <a href="/about" class="mmbtn btn btn-primary btn-lg btn-block">Learn More About TCT</a>
                <a href="/tournaments" class="mmbtn btn btn-primary btn-lg btn-block">View List of Tournaments</a>
                <a href="/playerhqlogin" class="mmbtn btn btn-primary btn-lg btn-block">Login to My Player's Hub</a>
                <a href="#" class="mmbtn btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModalCenter">Register Your Own Tournament [Email/Password Required]</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Login to create your tournament</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" id="email" class="form-control" placeholder="Username">
        <input type="password" id="pwd" class="form-control" placeholder="Password">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary verify">Verify</button>
      </div>
    </div>
  </div>
</div>

<!-- PlayerHQ Modal -->
<div class="modal fade" id="playerhqmodal" tabindex="-1" role="dialog" aria-labelledby="playerhqtitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="playerhqtitle">Enter your Player Credentials</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" id="playerusername" class="form-control" placeholder="Username">
        <input type="password" id="playerpwd" class="form-control" placeholder="Password">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="playerverify btn btn-primary">Verify</button>
      </div>
    </div>
  </div>
</div>

<script src='/js/verify.js'></script>
