<div id="home">
    <div class="landing-text">
        <h1 class="splash">TCT Player HQ Login</h1>
        <h5 class="splash">Enter your Player Credentials</h5>
              <form action="/" method="post" class='splash'>
                    <div class="d-flex justify-content-center">
                      <input type="text" name="username" class='form-control col-md-4' placeholder="Username" />
                    </div>
                    <div class="d-flex justify-content-center">
                      <input type="password" name="password" class='form-control col-md-4' placeholder="Password" />
                    </div>
                    <div>
                      <input type="submit" value="Submit" class='btn btn-primary' />
                    </div>
                  </form>
    </div>
</div>
