<div id="home2"></div>

<div class='container' id='tournamentregistrationform'>
  <form>
    <h1>Player Registration for {{name}}</h1>
    <div class='form-group'>
      <label for="tournamentname">First Name</label>
      <input type="text" class="form-control" id="firstname" aria-describedby="firstnameHelp" placeholder="First Name" required>
      <small id="firstnameHelp" class="form-text text-muted"></small>
    </div>
    <div class='form-group'>
      <label for="tournamentname">Last Name</label>
      <input type="text" class="form-control" id="lastname" aria-describedby="lastnameHelp" placeholder="Last Name" required>
      <small id="lastnameHelp" class="form-text text-muted"></small>
    </div>
    <div class='form-group'>
      <label for="tournamentdate">Email</label>
      <input type="email" class="form-control" id="email" aria-describedby="emaiHelp" placeholder="Email" required>
      <small id="emailHelp" class="form-text text-muted">fsdfsdaf</small>
    </div>
    <div class='form-group'>
      <label for="tournamentdate">Enter your credentials </label>
      <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Username" required>
      <input type="password" class="form-control" id="password" aria-describedby="passwordHelp" placeholder="Password" required>
      <small id="dateHelp" class="form-text text-muted">fsdfsdaf</small>
    </div>

    <!-- The following information will only be used for verification purposes -->
    <h2>the following information will be used to verify your identity and in the event you win cash prizes</h2>
    <button id='submittournamentregistration' type="submit" class="btn btn-primary">Submit Form</button>
  </form>
</div>
