<div id="home">
    <div class="landing-text">
        <h1 class="splash">BOOTSTRAP</h1>
        <h3 class="splash">Full Screen</h3>
        <a href="/mainmenu" class='btn btn-primary'>Go to Main Menu</a>
    </div>
</div>