<div id="home">
    <div class="landing-text">
        <h1 class="splash">WELCOME TO TCT TOURNAMENTS</h1>
        <h3 class="splash">Where competition comes to thrive</h3>
        <a href="/mainmenu" class='btn btn-primary'>Go to Main Menu</a>
    </div>
</div>
