html, body{
    height:100%;
    width:100%;
    font-family:sans-serif;
}

#home {
    background: url('../images/cube-3319359_1920.jpg') no-repeat 50% 50%;
    display: table;
    height:100%;
    width:100%;
    background-size:cover;
}

#tournamentregistrationform{
    background-color:lightgray ;
    z-index:1;
    position:relative;
}

.content{
    color:black;
}

.btn-tournament{
    width:320px;
    height:200px;
}

.iflex{
    display:inline-flex;    
}

#gamesform {
    z-index:1;
    position:relative;
}

.gamesline{
    border:1px solid gray;
    border-radius: 25px;
    padding: 15px 0px 0px 0;
}

.gamesdesc{
    margin: -7px 0 0 0;
}

.gamestableheader{
    color:white;
    font-size: 18px;
}

.gamesvaluechanged{
    background-color: green;
}

.MTPcounter{
    color: white;
    border: 1px solid white;
    padding: 5px;
}

.ssnHyphen{
  padding:5px;
}

.phonenumberleftparenthesis{
  font-size: 24px;
  padding-right:5px;
}

.phonenumberrightparenthesis{
  font-size: 24px;
  padding-left:5px;
}

#home2 {
    background: url('../images/cube-3319359_1920.jpg') no-repeat 50% 50%;
    position:fixed;
    top:0;
    z-index:0;
    height:100%;
    width:100%;
}

#home3 {
    background: url('../images/cube-surface-2886285_1920.jpg') no-repeat 50% 50%;
    position:fixed;
    top:0;
    z-index:0;
    height:100%;
    width:100%;
}

.playerhqbackground{
  background: url('../images/cube-surface-2886285_1920.jpg') no-repeat 50% 50% !important;
}

.landing-text{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.splash{
    font-family: 'Do Hyeon', sans-serif;
    color:white;
}

#tournamentregistrationtitle, .centertext{
  text-align:center;
}

.mmbtn{
    text-align: left;
}

.hidden{
  display:none;
}

div#tournamentregistrationform small{
  color:red !important;
}

.page {
    display: none;
    background: none;
}

.page-active {
    display: block;
}

/* loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 100;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid red;
  border-radius: 50%;
  border-top: 16px solid yellow;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
